
**/.DS_Store
_nextalign/terminal.txt
_nextclade/Nextclade_notebook.ipynb
.snakemake/*
env/*
input/sequences*
output/*
snakefile_trials/*
temp/*
chatGPT.txt
dag.pdf
environment.yml
terminal_inputs.txt
